node_modules/
.git/
.vscode/
.env
.env.local
*.log
dist/
dist-export/
.expo/
android/
ios/
coverage/
.DS_Store
thumbs.db
*.apk
*.aab
*.ipa
*.apks
*.zip
*.bin
*.jar
.venv/
.local/
start-dev.bat
patches/
