node_modules/
android/
ios/
.gradle/
dist/
build/
.expo/
.env
.env.local
*.apk
*.aab
apks_extracted/
app.apks
app.aab
app.zip
bundletool.jar
google_play_graphics/
my-app.apk
.git/
.venv/
__MACOSX/
*.log
coverage/
